<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">   
        <link rel="shortcut icon" type="image/png" href="./images/login-logo.png"> 
    <title>Subtitle GPT - Dashboard</title>
    <!-- Add links to CSS files and JavaScript here if needed -->
</head>

<body>
    <!-- ====================== flash message ============-->
    <% if (error && error.length) {%>
		<div class="toast error active">
			<div class="toast-content">
				<span class="material-symbols-outlined check">
					check
					</span>
				<div class="message">
					<span class="text text-2">
						<%= error %>
					</span>
				</div>
			</div>
			<span class="material-symbols-outlined close">
				close
				</span>
			<div class="progress active"></div>
		</div>
	<% } %>
    <% if (success && success.length) {%>
        <div class="toast active">
          <div class="toast-content">
            <span class="material-symbols-outlined check">
				check
				</span>
            <div class="message">
              <span class="text text-2">
                <%= success %>
              </span>
            </div>
          </div>
          <span class="material-symbols-outlined close">
			close
			</span>
          <div class="progress active"></div>
        </div>
        <% } %>
	<% if (error && error.length || success && success.length) { %>
				<script>
					//  ====================== flash message ===========
					const toast = document.querySelector(".toast");
					const closeIcon = document.querySelector(".close");
					const progress = document.querySelector(".progress");
					let timer1, timer2;
					timer1 = setTimeout(() => {
						toast.classList.remove("active");
					}, 7000); //1s = 1000 milliseconds
					timer2 = setTimeout(() => {
						progress.classList.remove("active");
					}, 7300);
					closeIcon.addEventListener("click", () => {
						toast.classList.remove("active");
						setTimeout(() => {
							progress.classList.remove("active");
						}, 300);
						clearTimeout(timer1);
						clearTimeout(timer2);
					});
				</script>
				<% } %>
    <div class="overlay"></div>
    <aside class="dashboard-sidebar">
        <div class="sidebar-content">
            <div class="sidebar-logo">
                <img src="./images/logo.png" alt="OAM AI Logo" class="logo" />
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li class="nav-item active overview">
                        <a href="/dashboard">
                            <span class="icon material-symbols-outlined">
                                smart_toy
                                </span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item overview">
                        <a href="/files">
                            <span class="material-symbols-outlined">
                                folder_open
                                </span>
                            <span>Generated Files</span>
                        </a>
                    </li>
                    <li class="nav-item overview">
                        <a href="/settings">
                            <span class="icon material-symbols-outlined">
                                settings
                            </span>
                                <span>Settings</span>
                        </a>
                    </li> 
                    <!-- More nav items -->
                </ul>
            </nav>
            <div class="sidebar-footer">
                <a href="/logout">
                    <span>Logout</span>
                    <span class="icon material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </div>
        </div>
    </aside>

    <main class="dashboard-main">
        <header class="dashboard-header">
            <span class="menu-toggle material-symbols-outlined">
                menu
            </span>
            <div class="user-profile">
                <a href="/settings" class="userHeader">
                    <div class="user-greeting">
                        <span class="morning">Hello,</span>
                        <span class="user-name"><%= userInfo.firstName %> <%= userInfo.lastName %><span>.</span></span>
                    </div>
                </a>
            </div>
        </header>
        <div class="property-container">
            <h2>ChatGPT Editing/Proofreading System</h2>
            <p>Automate the proofreading of English-Traditional Chinese (Taiwan) subtitle translations with ease.</p>
            
            <div class="upload-section" id="upload-section">
                <p>Please upload your file for processing. You can upload either an HTML file or an Excel (XLSX) file.</p>
                <div class="upload-container">
                    <input type="file" id="html-file" style="display: none;" accept=".html">
                    <button class="html" onclick="handleUpload('html')">Upload HTML File</button>
                    <input type="file" id="excel-file" style="display: none;" accept=".xlsx">
                    <button class="excel" onclick="handleUpload('excel')">Upload Excel File (XLSX)</button>
                </div>
            </div>
            
            <div id="loading" style="display:none; text-align: center;">
                <p>Processing... Please wait.</p>
            </div>
            <div id="progress-container" style="display: none; position: relative;">
                <div id="progress-bar" style="width: 0%; height: 100%; background-color: #3e6fda; border-radius: 15px;position: absolute; top: 0; left: 0;"></div>
                <p id="progress-text" style="text-align: center; margin: 1rem !important; position: relative; color: white; font-size: 18px; font-weight: 800;">Processing 0 out of 0 lines...</p>
            </div>

            <div id="download-section" style="display: none;">
                <a id="download-button" class="btn-success" href="#" download>Download Revised File <span class="material-symbols-outlined">
                    download
                    </span></a>
            </div>            
            
        </div>        
    </main>

    <script src="./javascript/dashboard.js"></script>

</body>

</html>